.app__laurels {
  position: relative;
}

.logo__img {
  position: absolute;
  left: 20px;
  top: 30px;
  width: 80px;
}

.logo__img img {
  width: 100%;
}

.app__wrapper_info {
  margin-top: 4rem;
}

.app__laurels_awards {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}

.app__laurels_awards-card {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-items: flex-start;
  width: 230px;
  margin: 1rem;
}

.app__laurels_awards-card img {
  height: 50px;
  width: 50px;
}

.app__laurels_awards-card_content {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.app__laurels_awards-card_content p:first-child {
  font-size: 20px;
}

.app__laurels_awards-card_content #lorem {
  font-family: var(--font-alt);
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 20px;
  font-size: 14px;
}

.app__wrapper_img img {
  width: 100%;
}

@media screen and (min-width: 1900px) {
  .app__laurels_awards-card {
    min-width: 390px;
  }
}

@media screen and (max-width: 850px) {
  .app__wrapper_info {
    margin-top: 6rem;
  }
}

@media screen and (max-width: 450px) {
  .app__laurels_awards-card {
    min-width: 100%;
    margin: 1rem 0;
  }
}
