.app__chef-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1.5rem;
}

.app__wrapper_info h1 {
    font-size: 50px;
}

.app__chef-content_quote {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.app__chef-content_quote img {
    width: 42px;
    height: 35px;
    margin: 0 1rem 1rem 0;
}

.app__chef-content p {
    font-family: var(--font-alt);
    color: var(--color-white);
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 28px;
    font-size: 13px;
}

.app__chef-sign {
    width: 100%;
    margin-top: 1.5rem;
}

.app__chef-sign p:first-child {
    font-family: var(--font-base);
    font-size: 32px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: var(--color-golden);
}

.app__chef-sign img {
    width: 180px;
    margin-top: 2rem;
}

@media screen and (min-width: 2000px) {
    .app__chef-sign img {
        width: 370px;
    }
}

@media screen and (max-width: 450px) {
    .app__chef-sign img {
        width: 80px;
    }
}